.myBackground{
    background-color: #000!important;
    box-shadow: 5px 6px 50px 10px #fff;
}

.nav-link{
    color: #fff!important;
}
.myColor{
    color: #fff!important;
    font-size: 18px!important;
}
